<?xml version="1.0"?>
<config>
    <modules>
        <Mage_article>
            <version>0.1.0</version>
        </Mage_article>
    </modules>
    <frontend>
        <routers>
            <article>
                <use>standard</use>
                <args>
                    <module>Mage_article</module>
                    <frontName>article</frontName>
                </args>
            </article>
        </routers>
        <layout>
            <updates>
                <article>
                    <file>article.xml</file>
                </article>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <article>
                <use>admin</use>
                <args>
                    <module>Mage_article</module>
                    <frontName>article</frontName>
                </args>
            </article>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <article module="article">
                <title>article</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="article">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>article/adminhtml_article</action>
                    </items>
                </children>
            </article>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <article>
                            <title>article Module</title>
                            <sort_order>200</sort_order>
                        </article>
                    </children>
                </admin>
            </resources>   
        </acl>
        <layout>
            <updates>
                <article>
                    <file>article.xml</file>
                </article>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <article>
                <class>Mage_article_Model</class>
                <resourceModel>article_mysql4</resourceModel>
            </article>
            <article_mysql4>
                <class>Mage_article_Model_Mysql4</class>
                <entities>
                    <article>
                        <table>article</table>
                    </article>
                </entities>
            </article_mysql4>
        </models>
        <resources>
            <article_setup>
                <setup>
                    <module>Mage_Article</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </article_setup>
            <article_write>
                <connection>
                    <use>core_write</use>
                </connection>
 
 
            </article_write>
            <article_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </article_read>
        </resources>
        <blocks>
            <article>
                <class>Mage_article_Block</class>
            </article>
        </blocks>
        <helpers>
            <article>
                <class>Mage_article_Helper</class>
            </article>
        </helpers>
    </global>
</config>