<?xml version="1.0"?>
<config>
    <modules>
        <Bob_Article>
            <version>0.1.4</version>
        </Bob_Article>
    </modules>
    <frontend>
        <routers>
            <article>
                <use>standard</use>
                <args>
                    <module>Bob_Article</module>
                    <frontName>article</frontName>
                </args>
            </article>
        </routers>
        <layout>
            <updates>
                <article>
                    <file>article.xml</file>
                </article>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <article>
                <use>admin</use>
                <args>
                    <module>Bob_Article</module>
                    <frontName>article</frontName>
                </args>
            </article>
        </routers>
        
    	<fieldsets>
    		<customer_account>
    			<lraccount><create>1</create><update>1</update></lraccount>
    		</customer_account>
    	</fieldsets>
    </admin>
    <adminhtml>
        <menu>
            <article module="article">
                <title>Article</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="article">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>article/adminhtml_article</action>
                    </items>
                </children>
            </article>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <article>
                            <title>Article Module</title>
                            <sort_order>200</sort_order>
                        </article>
                    </children>
                </admin>
            </resources>   
        </acl>
        <layout>
            <updates>
                <article>
                    <file>article.xml</file>
                </article>
            </updates>
        </layout>
    </adminhtml>   
    <global>
    	<fieldsets>
    		<customer_account>
    			<balance><create>1</create><update>1</update></balance>
    		</customer_account>
    	</fieldsets>
        <models>
            <category>
                <class>Bop_Article_Model</class>
                <resourceModel>article_category</resourceModel>
            </category>
            <article>
                <class>Bob_Article_Model</class>
                <resourceModel>article_mysql4</resourceModel>
            </article>
            <article_mysql4>
                <class>Bob_Article_Model_Mysql4</class>
                <entities>
                    <article>
                        <table>article</table>
                    </article>
                    <category>
                    	<table>article_category</table>
                    </category>
                    <bet>
                        <table>article_bet</table>
                    </bet>
                    <log>
                        <table>article_log</table>
                    </log>
                </entities>
            </article_mysql4>
        </models>
        <resources>
            <article_setup>
                  <setup>
                    <module>Bob_Article</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                  </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </article_setup>
            <article_write>
                <connection>
                    <use>core_write</use>
                </connection>
 
 
            </article_write>
            <article_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </article_read>
        </resources>
        <blocks>
            <article>
                <class>Bob_Article_Block</class>
            </article>
        </blocks>
        <helpers>
            <article>
                <class>Bob_Article_Helper</class>
            </article>
        </helpers>
    </global>
</config>